<div class="container-fluid">
  <div class="card-columns">
    <div *ngFor="let event of events">
      <div class="card">
        <img class="card-img-top" [src]="getImagePath(event) | safeHtml" alt="Card image cap">
        <div class="card-img-overlay align-bottom">
          <h5 class="card-title text-img-title">{{event.name}}</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{event.circuit.name}}</h5>
          <p class="card-text">{{event.date|date}}</p>
        </div>
      </div>
    </div>
  </div>
</div>