.card-columns {
  column-count: 4;  
  /* margin-left: 5%;
  margin-right: -15%; */
}
.text-img-title{
  color: #fff;
  text-shadow: rgba(0,0,0,1) 2px 2px 2px;
  font-weight: 600;
}
.card-img-overlay{
  padding-top: 0;
  text-align: center;
}
a.card,
a.card:hover {
  color: inherit;
  text-decoration: none;
}