<div class="container-fluid">
  <div class="card-columns">
    <div *ngFor="let event of events">
      <a [routerLink] = "['/detail', event.id]" class="card">
        <img class="card-img-top" [src]="getImagePath(event) | safeHtml" alt="event.circuit.name">
        <div class="card-img-overlay align-bottom">
          <h5 class="card-title text-img-title">{{event.name}}</h5>
        </div>
        <div class="card-body">
          <div class="row">
              <h4 class="card-title">{{event.circuit.name}}</h4>
          </div>
          <div class="row">
            <h5>{{event.circuit.country.name}}</h5>
            
            <div class="col">
                <h5><span [ngClass]="'flag-icon flag-icon-' + event.circuit.country.isoCode"></span></h5>
            </div>
          </div>
          <div class="row">
              <p class="card-text">{{event.date|date}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>