<div class="container-fluid">
    <div class="card-columns">
        <div class="card">
          <img class="card-img-top" src="/assets/circuits/valencia.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Gran Premio Motul de la Comunitat Valenciana</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>          
        </div>
        <div class="card">
          <img class="card-img-top" src="/assets/circuits/qatar.png" alt="Card image cap">
          <div class="card-img-overlay align-bottom">
              <h5 class="card-title text-img-title">Qatar Grand Prix</h5>
          </div>
          <div class="card-body">
            
            <h5 class="card-title">Losail International Circuit</h5>
            <p class="card-text">08 Marzo 2019</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">Shell Malaysia Motorcycle Grand Prix</div>
          <img class="card-img-top" src="/assets/circuits/sepang.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Malaysia Grand Prix</h5>
            <p class="card-text">01 Noviembre 2019</p>
          </div>         
        </div>
      </div>
</div>