.container-app{
  margin-left: 5%;
  margin-right: 5%;
}
.navbar{
  padding-right: 6%;
  padding-left: 6%;
  padding-bottom: 0px;
  padding-top: 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}
.button-navbar{
  padding-left: 2.5rem;
  font-size: large;
}
.nav-item .nav-link{
  color: black;
}
.nav-link.active{
  border-bottom: 2px solid;
}
.container-app{
  margin-top: 110px;
}