<div class="container-fluid" *ngIf="event">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">{{event.name}}</h1>
      <hr>
      <div class="row">
        <div class="col">
          <img class="card-img-top" [src]="getImagePath(event) | safeHtml" alt="event.circuit.name">
        </div>
        <div class="col">
          <div class="row full-height">
            <div class="col-3 col-center">
              <h1><span [ngClass]="'flag-icon flag-icon-' + event.circuit.country.isoCode"></span></h1>
            </div>
            <div class="col">
              <h4>{{event.circuit.country.name}}</h4>
            </div>
          </div>
          <div class="row full-height">
            <div class="col-3 col-center">
              <h3><i class="fas fa-flag-checkered"></i></h3>
            </div>
            <div class="col">
              <h4>{{event.circuit.name}}</h4>
            </div>
          </div>
          <div class="row full-height">
              <div class="col-3 col-center">
                <h3><i class="fas fa-calendar-day"></i></h3>
              </div>
              <div class="col">
                <h4>{{event.date | date}}</h4>
              </div>
            </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-2">
              <h4><i class="fas fa-road"></i></h4>
            </div>
            <div class="col">
              <h4>Información del circuito</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-right">
              <h6>Longitud:</h6>
            </div>
            <div class="col">
              {{event.circuit.length | meterToKm}} Km
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-right">
              <h6>Curvas a la derecha:</h6>
            </div>
            <div class="col">
              {{event.circuit.turnsRight | number}}
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-right">
              <h6>Curvas a la izquierda:</h6>
            </div>
            <div class="col">
              {{event.circuit.turnsLeft | number}}
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-right">
              <h6>Anchura:</h6>
            </div>
            <div class="col">
              {{event.circuit.straightLong | number}} m
            </div>
          </div>
        </div>
        <div class="col verticalLine">
          <div class="row">
            <div class="col-2">
              <h4><i class="fas fa-clock"></i></h4>
            </div>
            <div class="col">
              <h4>Récord del circuito</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-right">
              <h6>Piloto:</h6>
            </div>
            <div class="col">
              {{event.circuit.lastRecord.pilot}}
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-right">
              <h6>Tiempo:</h6>
            </div>
            <div class="col">
              {{event.circuit.lastRecord.time | timeToString }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>